.nav-type-fire {
  background-color: #f08030;
  border-top-color: #f8d030;
  border-bottom-color: #c03028;
}
.nav-type-water {
  background-color: #6890f0;
  border-top-color: #98d8d8;
  border-bottom-color: #807870;
}
.nav-type-poison {
  background-color: #a040a0;
  border-top-color: #d880b8;
  border-bottom-color: #483850;
}
.nav-type-normal {
  background-color: #a8a878;
  border-top-color: #d8d8d0;
  border-bottom-color: #705848;
}
.nav-type-grass {
  background-color: #78c850;
  border-top-color: #c0f860;
  border-bottom-color: #588040;
}
.nav-type-bug {
  background-color: #a8b820;
  border-top-color: #d8e030;
  border-bottom-color: #a8b820;
}
.nav-type-electric {
  background-color: #f8d030;
  border-top-color: #f8f878;
  border-bottom-color: #b8a038;
}
.nav-type-ice {
  background-color: #98d8d8;
  border-top-color: #d0f8e8;
  border-bottom-color: #9090a0;
}
.nav-type-fighting {
  background-color: #c03028;
  border-top-color: #f08030;
  border-bottom-color: #484038;
}
.nav-type-flying {
  background-color: #a890f0;
  border-top-color: #c8c0f8;
  border-bottom-color: #705898;
}
.nav-type-psychic {
  background-color: #f85888;
  border-top-color: #f8c0b0;
  border-bottom-color: #789010;
}
.nav-type-ghost {
  background-color: #705898;
  border-top-color: #a890f0;
  border-bottom-color: #483850;
}
.nav-type-dark {
  background-color: #705848;
  border-top-color: #a8a878;
  border-bottom-color: #484038;
}
.nav-type-dragon {
  background-color: #7038f8;
  border-top-color: #b8a0f8;
  border-bottom-color: #483890;
}
.nav-type-steel {
  background-color: #b8b8d0;
  border-top-color: #d8d8c0;
  border-bottom-color: #807870;
}
.nav-type-fairy {
  background-color: #f0b6bc;
  border-top-color: #f5cad1;
  border-bottom-color: #905f63;
}
.nav-type-rock {
  background-color: #b8a038;
  border-top-color: #e0c068;
  border-bottom-color: #886830;
}
.nav-type-ground {
  background-color: #e0c068;
  border-top-color: #f8f878;
  border-bottom-color: #886830;
}
.nav-type-all {
  background-color: #000000;
  border-top-color: #4b4b4b;
  border-bottom-color: #636363;
}

.type-fire {
  background-color: rgb(236, 155, 96);
  border: 3px solid #f08030;
}
.type-water {
  background-color: rgb(133, 164, 235);
  border: 3px solid #6890f0;
}
.type-poison {
  background-color: rgb(169, 121, 193);
  border: 3px solid #a040a0;
}
.type-normal {
  background-color: rgb(172, 172, 146);
  border: 3px solid #a8a878;
}
.type-grass {
  background-color: rgb(147, 191, 125);
  border: 3px solid #78c850;
}
.type-bug {
  background-color: rgb(175, 182, 112);
  border: 3px solid #a8b820;
}
.type-electric {
  background-color: rgb(246, 223, 132);
  border: 3px solid #f8d030;
}
.type-ice {
  background-color: rgb(184, 219, 219);
  border: 3px solid #98d8d8;
}
.type-fighting {
  background-color: rgb(193, 101, 96);
  border: 3px solid #c03028;
}
.type-flying {
  background-color: rgb(205, 192, 241);
  border: 3px solid #a890f0;
}
.type-psychic {
  background-color: rgb(248, 156, 184);
  border: 3px solid #f85888;
}
.type-ghost {
  background-color: rgb(140, 121, 169);
  border: 3px solid #705898;
}
.type-dark {
  background-color: rgb(128, 109, 97);
  border: 3px solid #705848;
}
.type-dragon {
  background-color: rgb(153, 110, 253);
  border: 3px solid #7038f8;
}
.type-steel {
  background-color: rgb(202, 202, 206);
  border: 3px solid #b8b8d0;
}
.type-fairy {
  background-color: rgb(203, 152, 156);
  border: 3px solid #f0b6bc;
}
.type-rock {
  background-color: rgb(184, 170, 109);
  border: 3px solid #b8a038;
}
.type-ground {
  background-color: rgb(230, 211, 160);
  border: 3px solid #e0c068;
}